src/pymonke/__pycache__/__init__.cpython-39.pyc
src/pymonke/__pycache__/
src/pymonke/__pycache__/__init__.cpython-39.pyc
src/pymonke/__pycache__/__init__.cpython-39.pyc
src/pymonke/__pycache__/functions.cpython-39.pyc
src/pymonke/__pycache__/functions.cpython-310.pyc
dist/
.vscode/
test.*
monke2.egg-info/*
venv
test.py
monke2.egg-info
dist
build
.venv*
activate
pymonke.egg-info
.idea
data.json
*test.py
tests