monke/__pycache__/__init__.cpython-39.pyc
monke/__pycache__/
monke/__pycache__/__init__.cpython-39.pyc
monke/__pycache__/__init__.cpython-39.pyc
monke/__pycache__/functions.cpython-39.pyc
monke/__pycache__/functions.cpython-310.pyc
dist/
.vscode/
test.*